extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let sweetsid = toShow._id
    - let sweets_name = toShow.name
    - let sweetsprice = toShow.price
    - let sweetsquantity = toShow.quantity
    - let actionid = "/resource/sweets/" + sweetsid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='sweetsAttr mr-3') sweets ID is:
          div #{sweetsid}
      div.row
        div(class='sweetsAttr mr-3') sweets Name is:
          div #{sweets_name}
      div.row
        div(class='sweetsAttr mr-3') sweets price is:
          div #{sweetsprice}
      div.row
        div(class='sweetsAttr mr-3') sweets Quantity is:
          div #{sweetsquantity}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the sweets collection
        window.location.href='/sweets'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/sweets'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error)
        });
      }
